html, body {
  margin: 0;
  padding: 0;
  }

body{
color:blue;
}

h1{
  text-align: center;
  font-family: monospace;
lilla
}
#list li {
  display: inline;
  margin: 24px;
text-align: center;
  font-family: monospace;

}
#list a {
text-decoration: none;
color: gray;
text-align: center;
}

div.banner { float: right; width: 100px; height: 400px; }

h2 {
font-family:monospace;
color:black;
height:30px;
text-align: center;


}

.wrapper {
  display: flex;
  justify-content: space-around;
}

.post {
width: 45vw;
box-sizing: content-box;
border: .25vw solid hsl(1deg,50%,0%);

}
.post img {
  width: 45vw;
  height: 45vw;
  object-fit: cover;
}
.post p {
  font-family:monospace;
 font-variant: cursive;
 color:black;
}

.post h2 {
font-family: monospace;
color:black;
text-align: center;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}


.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: #ddd;}


.dropdown:hover .dropdown-content {display: block;}


.dropdown:hover .dropbtn {background-color: #3e8e41;}
